.middle{
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 50%;
    top: 35%;
    transform: translate(-50%, 50%);
}
.mess{
    font-weight: bolder;
    font-size: larger;
}